{% load staticfiles %}

<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/style2.css' %}"/>
</head>
<title> Login Form </title>
<body>
<div class="loginbox">
<h1> User Login </h1>
<form>
<p>Username</p>
<input type="text" name="" placeholder="Enter Username">
<p>Password</p>
<input type="password" name="" placeholder="Enter password">
<input type="submit" name="" value="login">
<a href="#">Forgot password?</a><br>
    <a href="Registration_home/">Don't have an account?</a>

</form>

</div>


</body>
</head>
</html>